@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&display=swap");
@import "tailwindcss";


@layer base {
  h1, h2 {
    font-family: "Playfair Display", serif;
  }
}